@font-face {
  font-family: circularStdFont;
  src: url('../fonts/CircularStd-Book.otf');
}

body {
  font-size: 16px;
  color: #999999;
}

.title {
  color: #737373;
  font-size: 1rem;
}

.card_panel {
  padding: 16px;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
}

.card_profile {
  padding: 0px;
  display: flex;
  height: 148px;
  margin: 0.4rem 0rem 0.2rem 0rem;
  overflow: hidden;
  background-image: url(../android/banner_webianks.jpg);
  background-position: bottom center;
  background-size: cover;
  position: relative;
}

.profile_content {
  display: flex;
  flex-grow: 1;
  background: linear-gradient(to top, #15161a, transparent);
  align-items: center;
}

.profile_avatar {
  display: flex;
  border-radius: 50%;
  border: 1px solid rgb(202, 201, 201);
  margin-left: 1rem;
  height: 80px;
  width: 80px;
}

.profile_details {
  display: flex;
  flex-direction: column;
}

.profile_name {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-family: circularStdFont, sans-serif;
}

.profile_desig {
  color: #FFFFFF;
  font-size: 1rem;
  margin-left: 1rem;
  font-family: circularStdFont, sans-serif;
}

.title {
  display: block;
}

.overview {
  display: flex;
  flex-direction: column;
}

.overview_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.overview_avatar {
  display: flex;
  width: 24px;
  height: 24px;
}

.overview_content {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.overview_title {
  color: #737373;
  font-size: 1rem;
}

.overview_short_desc {
  color: #929292;
  font-size: .8rem;
}

.divider {
  margin: 5px 0px;
}

a {
  color: inherit;
}

.collection a.collection-item {
  color: inherit;
}

.left_content {
  max-width: 400px;
}

.card_header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card_header_icon {
  width: 1.2rem;
  height: 1.2rem;
}

.card_header_title {
  color: #737373;
  font-size: 1.2rem;
  margin-left: 1rem
}

.cv_card .date_container {
  margin-left: 70px;
  padding-left: 10px;
  /*border-left: #999999 solid 1px;*/
}

.cv_card .date_container .title {
  margin-left: 10px;
}

.date_container .date {
  display: block;
  color: #999999;
  margin-top: 10px;
}

.date_container .location {
  display: block;
  color: #999999;
  margin-left: 20px;
}

.date_container .description {
  margin-left: 20px;
  display: block;
}

.date_container .location img {
  margin-right: 5px;
  width: 10px;
}

.date_container .date_entry {
  padding-top: 10px;
}

.cv_card .at {
  color: #40BFED;
}

.left_content .cv_card .icon {
  position: absolute;
  margin-left: 5px;
}

.left_content .cv_card .title {
  margin-left: 55px;
}

.app_container {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.app_entry {
  display: inline-block;
  width: 220px;
  padding-left: 55px;
  margin: 5px;
}

.cv_card .app_entry .title {
  margin-left: 0px;
}

.app_entry img {
  position: absolute;
  margin-left: -55px;
  width: 45px;
}

.round_mark {
  border: 1px solid #DCDCDC;
  border-radius: 25px;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -17px;
  margin-top: 3px;
}

.left_border {
  border-left: 1px solid #DCDCDC;
  padding-top: 10px;
  margin-top: -6px;
  margin-left: -12px;
  padding-left: 12px;
  margin-bottom: -13px;
  padding-bottom: 13px;
}

.at {
  color: #40BFED;
}

.skills, .date_container {
  margin-left: 48px;
}

.skills .overview_content {
  margin: 0px;
  margin-bottom: 16px;
}

.skills .overview_short_desc {
  margin-left: 16px;
}

.card_project {
  display: flex;
  flex-direction: column;
  width: 120px;
  border-radius: 8px;
  margin-left: 16px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.project_banner {
  display: flex;
  background-color: #00acee;
  flex-direction: column;
}

.project_content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.project_icon {
  display: flex;
  height: 140px;
  align-items: center;
  justify-content: center;
}

.project_title{
  text-align: center;
  color: #000000;
  font-size: 1rem;
}

.project_desc{
  text-align: center;
  color: #000000;
  font-size: 0.8rem;
}

.logo {
  width: 80px;
  height: 80px;
}

.all_projects {
  padding: 16px;
  display: flex;
  width: auto;
  height: auto;
}