@font-face {
    font-family: circularStdFont;
    src: url('../fonts/CircularStd-Book.otf');
}
  
html {
    font-size: 15px;
}
  
body {
    margin: 0.8rem;
    font-size: 16px;
    color: #999999;
}
  
.title {
    color: #737373;
    font-size: 1rem;
    display: block;
}

/* Panels */

.card_panel {
    padding: 16px;
    border-radius: 8px;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin: 0.5rem 0 .6rem 0;
    border: 1px solid #e0e0e0;
}
  
.overview_panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    margin-bottom: .4rem;
}

.gradient_container {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.gardient_top {
    background: linear-gradient(to bottom, #15161a, #00000050);
}

.gradient_right {
    background: linear-gradient(to left, #15161a, #00000050);
}

.gradient_left {
    background: linear-gradient(to right, #15161a, #00000050);
}

.gradient_bottom {
    background: linear-gradient(to top, #15161a, #00000050);
}
  
  
.overview_item {
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
}
  
.overview_content {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.overview_content.end {
    align-items: flex-end;
}

.overview_link {
    display: flex;
    flex-grow: 1;
}
  
.overview_title {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
  
.overview_short_desc {
    color: #FFFFFF;
    font-size: .8rem;
}

.bg-image {
    background-position: center center;
    background-size: cover;
}

.birthday {
    background-image: url(../img/birthday.jpg);
}
  
.mail {
    background-image: url(../img/mail.jpg);
}

.personal {
  background-position: bottom center;
  background-image: url(../img/personal.jpg);
}

.youtube {
  background-image: url(../img/youtube.jpg);
}

.twitter {
  background-position: left bottom;
  background-image: url(../img/twitter.jpg);
}

.linkedin {
  background-position: center center;
  background-image: url(../img/linkedin.jpg);
}

.github {
  background-position: center center;
  background-image: url(../img/github.webp);
}

.card_profile {
  padding: 0px;
  display: flex;
  height: 148px;
  margin-top: 0px;
  overflow: hidden;
  background-image: url(https://d1s4mfv15j0tj6.cloudfront.net/banner_webianks.jpg);
  background-position: bottom center;
  background-size: cover;
  position: relative;
}

.banner_container {
  width: 20rem;
  height: 5rem;
  background-position: center;
  background-size: cover;
  background-image: url(https://d1s4mfv15j0tj6.cloudfront.net/banner_webianks.jpg);
}
  
.profile_avatar {
  display: flex;
  border-radius: 50%;
  border: 1px solid rgb(202, 201, 201);
  margin-left: 1rem;
  height: 80px;
  width: 80px;
}
  
.profile_details {
  display: flex;
  flex-direction: column;
}

.profile_name {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-family: circularStdFont, sans-serif;
}

.profile_desig {
  color: #FFFFFF;
  font-size: 1rem;
  margin-left: 1rem;
  font-family: circularStdFont, sans-serif;
}
  

.overview {
  display: flex;
  flex-direction: column;
}

  .overview_avatar {
    display: flex;
    width: 24px;
    height: 24px;
  }
  
  .overview_content {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  }
    
  .collection a.collection-item {
    color: inherit;
  }
  
  .left_content {
    max-width: 400px;
  }
  
  .card_header {
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .card_header_icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  
  .quote_container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  .quote {
    color: #737373;
    font-size: 1rem;
    font-weight: 500;
    font-style:oblique;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
  }

  .quote-author {
    color: #3d4ff0;
    font-size: 0.8rem;
    font-weight: 500;
    font-style: oblique;
    display: flex;
    flex-grow: 1;
    justify-content: end;
  }

  .card_header_title {
    color: #737373;
    font-size: 1.6rem;
    margin-left: 1rem;
    font-weight: 500;
  }
  
  .cv_card .date_container {
    margin-left: 70px;
    padding-left: 10px;
    /*border-left: #999999 solid 1px;*/
  }
  
  .cv_card .date_container .title {
    margin-left: 10px;
  }
  
  .date_container .date {
    display: block;
    color: #999999;
    margin-top: 10px;
  }
  
  .date_container .location {
    display: block;
    color: #999999;
    margin-left: 20px;
  }
  
  .date_container .description {
    margin-left: 20px;
    display: block;
  }
  
  .date_container .location img {
    margin-right: 5px;
    width: 10px;
  }
  
  .date_container .date_entry {
    padding-top: 10px;
  }
  
  .cv_card .at {
    color: #40BFED;
  }
  
  .left_content .cv_card .icon {
    position: absolute;
    margin-left: 5px;
  }
  
  .left_content .cv_card .title {
    margin-left: 55px;
  }
  
  .app_container {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 2px;
  }
  
  .app_entry {
    display: inline-block;
    width: 220px;
    padding-left: 55px;
    margin: 5px;
  }
  
  .cv_card .app_entry .title {
    margin-left: 0px;
  }
  
  .app_entry img {
    position: absolute;
    margin-left: -55px;
    width: 45px;
  }
  
  .round_mark {
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: -17px;
  }
  
  .left_border {
    border-left: 1px solid #DCDCDC;
    padding-top: 10px;
    margin-left: -12px;
    padding-left: 12px;
    padding-bottom: 13px;
  }
  
  .at {
    color: #40BFED;
  }
  
  .skills,
  .date_container {
    margin-left: 48px;
  }
  
  .skills .overview_content {
    margin: 0px;
    margin-bottom: 16px;
  }
  
  .skills .overview_short_desc {
    margin-left: 16px;
  }
  
  .card_project {
    display: flex;
    flex-direction: column;
    min-width: 8rem;
    width: 8rem;
    border-radius: 8px;
    margin-left: 16px;
    margin-top: 16px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .project_banner {
    display: flex;
    background-color: #00acee;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .project_content {
    flex-grow: 1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .project_icon {
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: center;
  }
  
  .project_title {
    text-align: center;
    color: #000000;
    font-size: 1rem;
  }
  
  .project_desc {
    text-align: center;
    color: #000000;
    font-size: 0.8rem;
  }
  
  .logo {
    width: 5rem;
    height: 5rem;
  }
  
  .all_projects {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
  }

  .experience-container {
    margin-top: 0px;
  }
  

  .card_experience {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    width: fit-content;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .year_mark {
    padding: 4px;
    color: #00acee;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    width: fit-content;
    margin-left: -17px;
  }
  
  .year_text {
    font-size: .8rem;
  }
  
  .exp_content_container {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .exp_content_header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .company_logo {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
  }
  
  .exp_content_des {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .location_container .location {
    padding: 8px;
    font-size: 12px;
    color: #00acee;
  }
  
  .job_title {
    font-weight: 600;
    font-family: circularStdFont, sans-serif;
    color: #685d5d;
    font-size: 1rem;
  }
  
  .job_company {
    font-size: .8rem;
    color: #7381ff;
  }
  
  .detail_container {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.1); */
  }
  
  .detail_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;
    justify-content: center;
  }
  
  .small_logo {
    display: flex;
    border-radius: 50%;
    border: 1px solid rgb(202, 201, 201);
    height: 2rem;
    width: 2rem;
  }
  
  .icon_divider {
    display: flex;
    width: 16px;
    color: #fff;
    height: .5px;
    margin: 2px;
    border: .5px solid rgb(202, 201, 201);
  }
  
  .detail_desc {
    display: flex;
    justify-content: center;
  }
  
  .desigs {
    margin: 0;
    padding: 0;
    list-style-type: disc;
  }
  
  .desig_item {
    font-size: 12px;
    list-style-type: disc;
  }
  
  .location_container {
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 224, 224, 0.4);
  }
  
  .loading {
    position: relative;
    background-color: #e2e2e2;
  }
  
  /* The moving element */
  .loading::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: -webkit-gradient(linear, left top,
                right top, from(transparent), 
                color-stop(rgba(255, 255, 255, 0.2)),
                to(transparent));
                  
    background: linear-gradient(90deg, transparent,
            rgba(255, 255, 255, 0.2), transparent);
  
    /* Adding animation */
    animation: loading 0.8s infinite;
  }
  
  /* Loading Animation */
  @keyframes loading {
    100% {
        transform: translateX(100%);
    }
  }
  
  .banner_container.loading {
    height: 5rem;
    width: 20rem;
  }
  
  .card_profile.loading {
    height: 148px;
  }
  
  .company_logo.loading {
    width: 3rem;
    height: 3rem;
    border-radius: 8px ;
  }
  
  a {
    text-decoration: none;
  }