*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#ffffff,#ffffff);
    color: black;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.eyecontainer {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .eye {
    position: relative;
    width: 120px;
    height: 120px;
    display: block;
    background: white;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0,0,0,0.2),
                            inset 0 0 15px #dadada,
                            inset 0 0 25px #dadada;
}

.box .eye::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    left: 35px;
    transform: translate(-50%, -50%) ;
    background: #000;
    border-radius: 50%;
    border: 10px solid #2196f3;
    box-sizing: border-box;
}

header {
    font-size: 1rem; 
}

header {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2rem;
}

h2 {
    height: 25vh;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}