* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#ece38a, #dda17e);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1rem;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.monk {
    height: 512px;
    width: 512px;
    position: relative;
}

.monkbody {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.eyecontainer {
    padding-top: 100px;
    top: 110px;
    position: absolute;
    z-index: 9;
}

.box {
    margin-top: 5.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .eye {
    position: relative;
    width: 35px;
    height: 35px;
    display: block;
    background: white;
    margin: 0 3px;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2), inset 0 0 15px #dadada, inset 0 0 25px #dadada;
}

.box .eye::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 18px;
    height: 18px;
    left: 15px;
    transform: translate(-50%, -50%);
    background: rgb(51, 50, 50);
    border-radius: 50%;
    border: 5px solid #7CA2D1;
    box-sizing: border-box;
}

h2 {
    font-size: 2rem;
    height: 25vh;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}