html {
	min-height: 100vh;
	overflow: hidden;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(img/bali_1.jpg);
	background-size: cover;
	margin: 0px;
}

h1 {
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
	font-style: normal;
}

.ml3 {
	font-size: 12rem;
	color: white;
	font-weight: 700;
}

.black-backdrop {
	width: 100%;
	height: 100vh;
	position: absolute;
	opacity: 0.1;
	background-image: radial-gradient(black, black);
	animation: nonOpaque 4s ease forwards;
}

@keyframes nonOpaque {
	to {
		opacity: 0;
	}
	
}

.retro-print {
	position: absolute;
	margin-left: 5rem;
	width: 20rem;
	height: 30rem;
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
}

.my-photo {
	margin-top: 1rem;
	margin-left: 1rem;
	width: 18rem;
	height: 25rem;
	background-size: cover;
}

.img-1 {
	background-image: url(img/img_4.jpg);
	background-position: bottom;
}

.img-2 {
	background-image: url(img/bali_2.jpg);
}

.location {
	font-weight: 500;
	text-align: center;
	margin: 8px;
	color: #332d2d;
}

.right {
	transform: rotate(10deg);
	opacity: 0;
	left: 5rem;
	bottom: -100%;
	animation: smooth-appear-bottom 7s ease forwards;
	animation-delay: 4s;
}

.left {
	transform: rotate(-10deg);
	opacity: 0;
	left: -100%;
	animation: smooth-appear-left 7s ease forwards;
	animation-delay: 5s;
}

@keyframes smooth-appear-bottom {
	to {
		bottom: 10rem;
		opacity: 1;
	}
}


@keyframes smooth-appear-left {
	to {
		left: 5rem;
		opacity: 1;
	}
}


@media (max-width: 480px) {
	.ml3 {
		font-size: 6rem;
	}

	.retro-print {
		width: 16rem;
		height: 20rem;
	}

	.my-photo {
		width: 14rem;
		height: 15rem;
	}

	.right {
		left: 1rem;
	}

	@keyframes smooth-appear-left {
		to {
			left: 1rem;
			opacity: 1;
		}
	}

	@keyframes smooth-appear-bottom {
		to {
			bottom: 40%;
			opacity: 1;
		}
	}
 }